In [1]:
#!pip install -r requirements.txt

In [2]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import  pickle

%matplotlib inline

In [3]:
def load_data(csv):
    dataset=pd.read_csv(csv)
    return dataset

**Stampo Le chiavi come lista**

In [4]:
def chiavi(dataset):
    for i in dataset:
        print ("La colonna :",i,"ha le chiavi",dataset[i].unique())

In [5]:
def X_y(dataset,target):
        y= dataset[target]
        X= dataset.drop([target],axis=1)
        return X,y

In [6]:
def split(X,y):
         X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0)
         return  X_train, X_test, y_train, y_test

**Visualizzo il numero di chiavi uniche delle colonne**

In [7]:
def visualizza(dataset):
     for i in dataset:
        print("colonna :",i,"conta", dataset[i].nunique(),"valori di chiavi diversi")

In [8]:
def crea_csv(X,y):
    X_train,X_test,y_train,y_test =split(X,y)
    
    
    output_train = pd.DataFrame(pd.concat([X_train,y_train],axis = 1))
    
    
    output_test =  pd.DataFrame(pd.concat([X_test,y_test],axis = 1))
   
    return output_train,output_test

In [9]:
def crea_file(output_train,output_test):
    output_train.to_csv('train.csv', index=False)
    output_test.to_csv('test.csv', index=False)

In [10]:
dataset=load_data('appointment_data.csv')
#elabora_dataset_e_pulisci(dataset)
dataset

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,No,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,Yes,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,No,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,No,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,No,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,No,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,No,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,No,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,No,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

In [11]:
#chiavi(dataset)
for i in dataset:
    print("colonna ",i,"ha il seguente n chiavi",dataset[i].nunique())
    
print  ("\n NUMERO NULL")
for i in dataset:
    print("colonna ",i,"ha il seguente n null",dataset[i].isnull().sum())

colonna  No-show ha il seguente n chiavi 2
colonna  PatientId ha il seguente n chiavi 54105
colonna  AppointmentID ha il seguente n chiavi 88421
colonna  Gender ha il seguente n chiavi 2
colonna  ScheduledDay ha il seguente n chiavi 83840
colonna  AppointmentDay ha il seguente n chiavi 27
colonna  Age ha il seguente n chiavi 103
colonna  Neighbourhood ha il seguente n chiavi 81
colonna  Scholarship ha il seguente n chiavi 2
colonna  Hipertension ha il seguente n chiavi 2
colonna  Diabetes ha il seguente n chiavi 2
colonna  Alcoholism ha il seguente n chiavi 2
colonna  Handcap ha il seguente n chiavi 5
colonna  SMS_received ha il seguente n chiavi 2

 NUMERO NULL
colonna  No-show ha il seguente n null 0
colonna  PatientId ha il seguente n null 0
colonna  AppointmentID ha il seguente n null 0
colonna  Gender ha il seguente n null 0
colonna  ScheduledDay ha il seguente n null 0
colonna  AppointmentDay ha il seguente n null 0
colonna  Age ha il seguente n null 0
colonna  Neighbourhood ha il seguente n null 0
colonna  Scholarship ha il seguente n null 0
colonna  Hipertension ha il seguente n null 0
colonna  Diabetes ha il seguente n null 0
colonna  Alcoholism ha il seguente n null 0
colonna  Handcap ha il seguente n null 0
colonna  SMS_received ha il seguente n null 0

In [12]:
#QUI FACCIO LE MIE ELABORAZIONI(SOTTO VENGONO GIA TOLTI GLI ID E RIGHE CON NULL O IMPUTAZIONE)
#dataset['TotalCharges'] = pd.to_numeric(dataset['TotalCharges'], errors='coerce')


#for i in dataset:
#    dataset[i]= dataset[i].replace('No internet service','No')
#   dataset[i]= dataset[i].replace('No phone service','No')

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88421 entries, 0 to 88420
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No-show         88421 non-null  object
 1   PatientId       88421 non-null  float64
 2   AppointmentID   88421 non-null  int64
 3   Gender          88421 non-null  object
 4   ScheduledDay    88421 non-null  object
 5   AppointmentDay  88421 non-null  object
 6   Age             88421 non-null  int64
 7   Neighbourhood   88421 non-null  object
 8   Scholarship     88421 non-null  int64
 9   Hipertension    88421 non-null  int64
 10  Diabetes        88421 non-null  int64
 11  Alcoholism      88421 non-null  int64
 12  Handcap         88421 non-null  int64
 13  SMS_received    88421 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 9.4+ MB

In [13]:

#dataset = colonne_id(dataset)

#dataset = rimuovi_null_o_imputazione(dataset)

chiavi(dataset)

La colonna : No-show ha le chiavi ['No' 'Yes']
La colonna : PatientId ha le chiavi [1.32849153e+12 3.88186930e+14 9.11899152e+12 ... 3.15224583e+12
 9.97566683e+14 3.91164931e+12]
La colonna : AppointmentID ha le chiavi [5687610 5694484 5500939 ... 5762864 5639951 5637593]
La colonna : Gender ha le chiavi ['F' 'M']
La colonna : ScheduledDay ha le chiavi ['2016-05-11T16:00:16Z' '2016-05-13T08:41:27Z' '2016-03-22T11:09:38Z' ...
 '2016-04-26T13:03:23Z' '2016-06-02T08:16:03Z' '2016-04-29T09:52:19Z']
La colonna : AppointmentDay ha le chiavi ['2016-05-19T00:00:00Z' '2016-05-17T00:00:00Z' '2016-05-09T00:00:00Z'
 '2016-04-29T00:00:00Z' '2016-05-16T00:00:00Z' '2016-05-04T00:00:00Z'
 '2016-06-07T00:00:00Z' '2016-06-03T00:00:00Z' '2016-05-10T00:00:00Z'
 '2016-05-02T00:00:00Z' '2016-05-06T00:00:00Z' '2016-06-02T00:00:00Z'
 '2016-05-25T00:00:00Z' '2016-06-08T00:00:00Z' '2016-05-31T00:00:00Z'
 '2016-05-20T00:00:00Z' '2016-05-24T00:00:00Z' '2016-05-30T00:00:00Z'
 '2016-06-01T00:00:00Z' '2016-05-03T00:00:00Z' '2016-06-06T00:00:00Z'
 '2016-05-13T00:00:00Z' '2016-05-11T00:00:00Z' '2016-05-12T00:00:00Z'
 '2016-05-05T00:00:00Z' '2016-05-18T00:00:00Z' '2016-05-14T00:00:00Z']
La colonna : Age ha le chiavi [ 25  62  65  41  61  11  45   9  79  60  42  13  19  52  53  26  76  77
  47  58  24  44  38  21  14  83  64  73  40   5  49  67  56   7  39  57
  23  68  78  63  22   0  81  35  55   4   3  54  17   2  29  33   1  48
  74  46  69  16  86  75  34  36   6   8  20  80  30  27  32  66  12  31
  10  37  59  50  84  28  43  85  72  51  82  70  18  89  15  71  91  93
  87  94 100  92  90  98  88 115  95  96  97  99 102]
La colonna : Neighbourhood ha le chiavi ['MATA DA PRAIA' 'FRADINHOS' 'JARDIM CAMBURI' 'MARIA ORTIZ' 'MARUÍPE'
 'DO QUADRO' 'CRUZAMENTO' 'MÁRIO CYPRESTE' 'SOLON BORGES' 'TABUAZEIRO'
 'SANTA LUÍZA' 'JABOUR' 'RESISTÊNCIA' 'FORTE SÃO JOÃO' 'DO CABRAL'
 'CENTRO' 'PRAIA DO CANTO' 'SÃO JOSÉ' 'HORTO' 'JESUS DE NAZARETH'
 'GURIGICA' 'SANTA MARTHA' 'ESTRELINHA' 'SÃO PEDRO' 'CONSOLAÇÃO'
 'JARDIM DA PENHA' 'CONQUISTA' 'MONTE BELO' 'REPÚBLICA' 'NOVA PALESTINA'
 'JUCUTUQUARA' 'SANTO ANTÔNIO' 'VILA RUBIM' 'ITARARÉ' 'PARQUE MOSCOSO'
 'CARATOÍRA' 'ILHA DE SANTA MARIA' 'ROMÃO' 'DA PENHA' 'BELA VISTA'
 'SANTOS DUMONT' 'DO MOSCOSO' 'SÃO BENEDITO' 'ILHA DO PRÍNCIPE'
 'SANTA HELENA' 'SÃO CRISTÓVÃO' 'BONFIM' 'JOANA D´ARC' 'SANTOS REIS'
 'BARRO VERMELHO' 'BOA VISTA' 'SANTA LÚCIA' 'SANTA CECÍLIA' 'PRAIA DO SUÁ'
 'SANTO ANDRÉ' 'REDENÇÃO' 'GOIABEIRAS' 'ANDORINHAS' 'DE LOURDES'
 'FONTE GRANDE' 'INHANGUETÁ' 'ARIOVALDO FAVALESSA' 'GRANDE VITÓRIA'
 'SANTA CLARA' 'SANTA TEREZA' 'ILHA DAS CAIEIRAS' 'ANTÔNIO HONÓRIO'
 'PONTAL DE CAMBURI' 'BENTO FERREIRA' 'ENSEADA DO SUÁ' 'MORADA DE CAMBURI'
 'COMDUSA' 'NAZARETH' 'PIEDADE' 'SEGURANÇA DO LAR' 'AEROPORTO'
 'UNIVERSITÁRIO' 'ILHA DO BOI' 'ILHA DO FRADE'
 'ILHAS OCEÂNICAS DE TRINDADE' 'PARQUE INDUSTRIAL']
La colonna : Scholarship ha le chiavi [0 1]
La colonna : Hipertension ha le chiavi [0 1]
La colonna : Diabetes ha le chiavi [0 1]
La colonna : Alcoholism ha le chiavi [0 1]
La colonna : Handcap ha le chiavi [0 1 3 2 4]
La colonna : SMS_received ha le chiavi [0 1]

In [14]:
#dataset = Binning(dataset)

In [15]:

visualizza(dataset)

colonna : No-show conta 2 valori di chiavi diversi
colonna : PatientId conta 54105 valori di chiavi diversi
colonna : AppointmentID conta 88421 valori di chiavi diversi
colonna : Gender conta 2 valori di chiavi diversi
colonna : ScheduledDay conta 83840 valori di chiavi diversi
colonna : AppointmentDay conta 27 valori di chiavi diversi
colonna : Age conta 103 valori di chiavi diversi
colonna : Neighbourhood conta 81 valori di chiavi diversi
colonna : Scholarship conta 2 valori di chiavi diversi
colonna : Hipertension conta 2 valori di chiavi diversi
colonna : Diabetes conta 2 valori di chiavi diversi
colonna : Alcoholism conta 2 valori di chiavi diversi
colonna : Handcap conta 5 valori di chiavi diversi
colonna : SMS_received conta 2 valori di chiavi diversi

In [16]:

dataset

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,No,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,Yes,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,No,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,No,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,No,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,No,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,No,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,No,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,No,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

In [17]:
X,y = X_y(dataset,'No-show')

output_train,output_test = crea_csv(X,y)

#output_train = encoding(output_train)#faccio l' encoding solo del train

crea_file(output_train,output_test)#stampo i file su disco

In [18]:
output_train

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
57020,1.476612e+11,5679466,F,2016-05-10T09:57:55Z,2016-05-17T00:00:00Z,44,CARATOÍRA,0,0,0,0,0,0,Yes
67404,5.163147e+14,5571658,F,2016-04-12T09:24:13Z,2016-05-16T00:00:00Z,11,MARIA ORTIZ,0,0,0,0,0,0,Yes
42628,2.488843e+12,5690749,F,2016-05-12T10:35:23Z,2016-05-16T00:00:00Z,46,JARDIM CAMBURI,0,0,0,0,0,0,No
11918,9.618864e+14,5511964,F,2016-03-28T08:24:33Z,2016-05-06T00:00:00Z,75,JESUS DE NAZARETH,0,1,1,0,0,1,Yes
30082,4.836462e+11,5750314,F,2016-05-31T08:44:06Z,2016-06-01T00:00:00Z,83,SANTA MARTHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21243,7.868846e+12,5721432,F,2016-05-19T16:26:59Z,2016-06-02T00:00:00Z,11,SANTOS DUMONT,0,0,0,0,0,1,No
45891,7.711876e+13,5607080,M,2016-04-20T11:03:44Z,2016-05-11T00:00:00Z,50,TABUAZEIRO,0,1,1,0,0,1,No
42613,6.293825e+14,5758142,F,2016-06-01T10:19:43Z,2016-06-01T00:00:00Z,42,ANDORINHAS,0,0,0,0,0,0,No
43567,3.824988e+12,5579699,M,2016-04-13T15:26:38Z,2016-05-05T00:00:00Z,13,BELA VISTA,0,0,0,0,0,1,Yes
68268,5.899838e+12,5693376,M,2016-05-13T07:10:57Z,2016-05-13T00:00:00Z,12,JESUS DE NAZARETH,0,0,0,0,0,0,No

In [19]:
output_test

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
43077,1.167239e+11,5778236,M,2016-06-06T15:14:21Z,2016-06-08T00:00:00Z,9,INHANGUETÁ,0,0,0,0,0,0,No
44486,2.375498e+13,5739813,M,2016-05-25T14:10:29Z,2016-05-30T00:00:00Z,50,ANDORINHAS,0,0,1,0,0,1,No
25328,9.435712e+10,5683899,F,2016-05-11T08:00:20Z,2016-05-11T00:00:00Z,69,JARDIM CAMBURI,0,0,0,0,0,0,No
31341,8.277442e+13,5688382,F,2016-05-12T07:19:39Z,2016-05-16T00:00:00Z,22,FORTE SÃO JOÃO,0,0,0,0,0,0,No
19054,1.812426e+14,5707554,F,2016-05-17T09:47:04Z,2016-05-17T00:00:00Z,1,REDENÇÃO,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37713,4.866894e+13,5714631,F,2016-05-18T12:38:22Z,2016-05-18T00:00:00Z,48,ESTRELINHA,0,1,1,0,0,0,No
57357,1.338248e+13,5722856,M,2016-05-20T07:42:35Z,2016-05-20T00:00:00Z,12,JARDIM CAMBURI,0,0,0,0,0,0,No
77553,9.883995e+13,5665906,M,2016-05-05T15:33:04Z,2016-05-06T00:00:00Z,11,BOA VISTA,0,0,0,0,0,0,No
35163,5.857623e+12,5691365,M,2016-05-12T12:25:19Z,2016-05-12T00:00:00Z,28,INHANGUETÁ,0,0,0,0,0,0,No
35784,9.295443e+11,5774158,M,2016-06-06T07:55:43Z,2016-06-06T00:00:00Z,2,RESISTÊNCIA,0,0,0,0,0,0,No

In [20]:
chiavi(output_train)

La colonna : PatientId ha le chiavi [1.47661249e+11 5.16314699e+14 2.48884268e+12 ... 6.16759896e+14
 7.23327743e+12 7.71187592e+13]
La colonna : AppointmentID ha le chiavi [5679466 5571658 5690749 ... 5758142 5579699 5693376]
La colonna : Gender ha le chiavi ['F' 'M']
La colonna : ScheduledDay ha le chiavi ['2016-05-10T09:57:55Z' '2016-04-12T09:24:13Z' '2016-05-12T10:35:23Z' ...
 '2016-04-20T11:03:44Z' '2016-06-01T10:19:43Z' '2016-04-13T15:26:38Z']
La colonna : AppointmentDay ha le chiavi ['2016-05-17T00:00:00Z' '2016-05-16T00:00:00Z' '2016-05-06T00:00:00Z'
 '2016-06-01T00:00:00Z' '2016-05-19T00:00:00Z' '2016-06-06T00:00:00Z'
 '2016-05-09T00:00:00Z' '2016-06-02T00:00:00Z' '2016-05-20T00:00:00Z'
 '2016-05-18T00:00:00Z' '2016-05-11T00:00:00Z' '2016-05-02T00:00:00Z'
 '2016-05-30T00:00:00Z' '2016-05-25T00:00:00Z' '2016-05-10T00:00:00Z'
 '2016-04-29T00:00:00Z' '2016-06-03T00:00:00Z' '2016-06-07T00:00:00Z'
 '2016-05-24T00:00:00Z' '2016-05-04T00:00:00Z' '2016-05-13T00:00:00Z'
 '2016-06-08T00:00:00Z' '2016-05-31T00:00:00Z' '2016-05-03T00:00:00Z'
 '2016-05-12T00:00:00Z' '2016-05-05T00:00:00Z' '2016-05-14T00:00:00Z']
La colonna : Age ha le chiavi [ 44  11  46  75  83   6  49   0  28   3  20  43  71  63  35  21  22  62
  48  76  77  37  10  25  47  36   2  19  29   7  15  39  33  23  58  38
  17  27  12  67   9  41  53  65  30  68   1  72  50  24  70  52  59   5
  51  26  13  14  60  56  66  61  16  42  80  34  54  78  45  40  82  18
  69  79  57   8   4  98  86  85  64  90  81  32  92  55  73  31  74  84
  97  89  88  87  91  93 100  95  94 102  96 115  99]
La colonna : Neighbourhood ha le chiavi ['CARATOÍRA' 'MARIA ORTIZ' 'JARDIM CAMBURI' 'JESUS DE NAZARETH'
 'SANTA MARTHA' 'CONQUISTA' 'SANTO ANTÔNIO' 'RESISTÊNCIA' 'SANTA TEREZA'
 'ANDORINHAS' 'CENTRO' 'GURIGICA' 'ROMÃO' 'SÃO CRISTÓVÃO'
 'ILHA DO PRÍNCIPE' 'CRUZAMENTO' 'REPÚBLICA' 'VILA RUBIM' 'JOANA D´ARC'
 'ITARARÉ' 'JARDIM DA PENHA' 'BENTO FERREIRA' 'MATA DA PRAIA' 'JABOUR'
 'MÁRIO CYPRESTE' 'NOVA PALESTINA' 'GOIABEIRAS' 'DA PENHA' 'FONTE GRANDE'
 'BONFIM' 'FORTE SÃO JOÃO' 'DO MOSCOSO' 'SANTOS DUMONT' 'DO CABRAL'
 'ILHA DAS CAIEIRAS' 'REDENÇÃO' 'SANTO ANDRÉ' 'DO QUADRO' 'PARQUE MOSCOSO'
 'TABUAZEIRO' 'ILHA DE SANTA MARIA' 'SANTA LÚCIA' 'MORADA DE CAMBURI'
 'PRAIA DO SUÁ' 'GRANDE VITÓRIA' 'SÃO PEDRO' 'BELA VISTA' 'SÃO JOSÉ'
 'PIEDADE' 'SÃO BENEDITO' 'SANTA CECÍLIA' 'MARUÍPE' 'SANTOS REIS'
 'BARRO VERMELHO' 'ENSEADA DO SUÁ' 'INHANGUETÁ' 'CONSOLAÇÃO'
 'SOLON BORGES' 'HORTO' 'SANTA CLARA' 'SANTA LUÍZA' 'MONTE BELO'
 'ESTRELINHA' 'JUCUTUQUARA' 'FRADINHOS' 'DE LOURDES' 'ARIOVALDO FAVALESSA'
 'SEGURANÇA DO LAR' 'PRAIA DO CANTO' 'ILHAS OCEÂNICAS DE TRINDADE'
 'BOA VISTA' 'ILHA DO BOI' 'SANTA HELENA' 'COMDUSA' 'UNIVERSITÁRIO'
 'NAZARETH' 'ANTÔNIO HONÓRIO' 'PONTAL DE CAMBURI' 'ILHA DO FRADE'
 'AEROPORTO' 'PARQUE INDUSTRIAL']
La colonna : Scholarship ha le chiavi [0 1]
La colonna : Hipertension ha le chiavi [0 1]
La colonna : Diabetes ha le chiavi [0 1]
La colonna : Alcoholism ha le chiavi [0 1]
La colonna : Handcap ha le chiavi [0 1 2 3 4]
La colonna : SMS_received ha le chiavi [0 1]
La colonna : No-show ha le chiavi ['Yes' 'No']

In [21]:
chiavi(output_test)

La colonna : PatientId ha le chiavi [1.16723945e+11 2.37549850e+13 9.43571216e+10 ... 9.88399453e+13
 5.85762349e+12 9.29544257e+11]
La colonna : AppointmentID ha le chiavi [5778236 5739813 5683899 ... 5665906 5691365 5774158]
La colonna : Gender ha le chiavi ['M' 'F']
La colonna : ScheduledDay ha le chiavi ['2016-06-06T15:14:21Z' '2016-05-25T14:10:29Z' '2016-05-11T08:00:20Z' ...
 '2016-05-05T15:33:04Z' '2016-05-12T12:25:19Z' '2016-06-06T07:55:43Z']
La colonna : AppointmentDay ha le chiavi ['2016-06-08T00:00:00Z' '2016-05-30T00:00:00Z' '2016-05-11T00:00:00Z'
 '2016-05-16T00:00:00Z' '2016-05-17T00:00:00Z' '2016-05-06T00:00:00Z'
 '2016-06-03T00:00:00Z' '2016-05-12T00:00:00Z' '2016-05-25T00:00:00Z'
 '2016-05-02T00:00:00Z' '2016-05-09T00:00:00Z' '2016-05-31T00:00:00Z'
 '2016-05-18T00:00:00Z' '2016-05-20T00:00:00Z' '2016-06-02T00:00:00Z'
 '2016-06-01T00:00:00Z' '2016-05-05T00:00:00Z' '2016-05-13T00:00:00Z'
 '2016-05-04T00:00:00Z' '2016-05-03T00:00:00Z' '2016-06-07T00:00:00Z'
 '2016-05-19T00:00:00Z' '2016-05-10T00:00:00Z' '2016-04-29T00:00:00Z'
 '2016-05-24T00:00:00Z' '2016-06-06T00:00:00Z' '2016-05-14T00:00:00Z']
La colonna : Age ha le chiavi [  9  50  69  22   1   5  46  61  51  29  38  41   3  74  25  40  65   0
  33  83  72  58  13  86   8  15  17  20  21  18  32  44  84   6  67  30
  63  70  64  23  71  60  53  37  16  79  27  57   2  36  11  55  42  48
  54  76  24  43  52  59  28  87  62  26  47  39  19  14  34  95  75  68
  56  45  12  80  49  10  35   4   7  31  73  82  78  81  66  85  88  77
  93  94  91  89  90  92 102  96 100]
La colonna : Neighbourhood ha le chiavi ['INHANGUETÁ' 'ANDORINHAS' 'JARDIM CAMBURI' 'FORTE SÃO JOÃO' 'REDENÇÃO'
 'MARUÍPE' 'REPÚBLICA' 'CENTRO' 'BOA VISTA' 'JESUS DE NAZARETH' 'DA PENHA'
 'NOVA PALESTINA' 'SANTA LUÍZA' 'JARDIM DA PENHA' 'RESISTÊNCIA'
 'SANTA MARTHA' 'BELA VISTA' 'MARIA ORTIZ' 'SANTO ANTÔNIO' 'JABOUR'
 'TABUAZEIRO' 'ILHA DAS CAIEIRAS' 'SÃO CRISTÓVÃO' 'ILHA DE SANTA MARIA'
 'ROMÃO' 'SÃO PEDRO' 'ITARARÉ' 'BONFIM' 'SÃO JOSÉ' 'ESTRELINHA'
 'CONSOLAÇÃO' 'PIEDADE' 'SANTO ANDRÉ' 'ILHA DO PRÍNCIPE' 'SANTA LÚCIA'
 'SÃO BENEDITO' 'NAZARETH' 'DO QUADRO' 'CRUZAMENTO' 'FONTE GRANDE'
 'BARRO VERMELHO' 'ARIOVALDO FAVALESSA' 'CARATOÍRA' 'JUCUTUQUARA'
 'VILA RUBIM' 'GOIABEIRAS' 'PRAIA DO CANTO' 'GURIGICA' 'DO MOSCOSO'
 'JOANA D´ARC' 'PRAIA DO SUÁ' 'SANTOS REIS' 'PARQUE MOSCOSO' 'DO CABRAL'
 'MÁRIO CYPRESTE' 'UNIVERSITÁRIO' 'SANTA TEREZA' 'GRANDE VITÓRIA'
 'SANTA CECÍLIA' 'DE LOURDES' 'MONTE BELO' 'FRADINHOS' 'SANTA CLARA'
 'SANTOS DUMONT' 'COMDUSA' 'BENTO FERREIRA' 'HORTO' 'MATA DA PRAIA'
 'CONQUISTA' 'SANTA HELENA' 'SOLON BORGES' 'MORADA DE CAMBURI'
 'SEGURANÇA DO LAR' 'ILHA DO BOI' 'ANTÔNIO HONÓRIO' 'ENSEADA DO SUÁ'
 'ILHA DO FRADE' 'PONTAL DE CAMBURI' 'AEROPORTO']
La colonna : Scholarship ha le chiavi [0 1]
La colonna : Hipertension ha le chiavi [0 1]
La colonna : Diabetes ha le chiavi [0 1]
La colonna : Alcoholism ha le chiavi [0 1]
La colonna : Handcap ha le chiavi [0 1 2 4]
La colonna : SMS_received ha le chiavi [0 1]
La colonna : No-show ha le chiavi ['No' 'Yes']

In [22]:
!pip freeze > requirements.txt